<div >
  ברוכים הבאים לאזור העריכה של לקסמות בערבית!
  <br />
  חפש מילה:
  <input [(ngModel)]="searchTerm" />
  <button (click)="search()">חפש</button>

  <div *ngIf="afterSearch">
    <br>לקסמה עם ניקוד: <input [(ngModel)]="currentLexeme.lexemeWithVowels">
    <br>לקסמה בלי ניקוד: <input [(ngModel)]="currentLexeme.lexemeWithoutVowels">
    <br>חלק דיבר: <input [(ngModel)]="currentLexeme.partOfSpeech">
    <br>מגדר: <input [(ngModel)]="currentLexeme.gender">
    <br>משפט דוגמה 1: <input [(ngModel)]="currentLexeme.exampleSentence1">
    <br>משפט דוגמה 2: <input [(ngModel)]="currentLexeme.exampleSentence2">
    <br>תרגום 1 עברית: <input [(ngModel)]="currentLexeme.translation1He">
    <br>תרגום 1 אנגלית: <input [(ngModel)]="currentLexeme.translation1En">
    <br>תרגום 2 עברית: <input [(ngModel)]="currentLexeme.translation2He">
    <br>תרגום 2 אנגלית: <input [(ngModel)]="currentLexeme.translation2En">
    <br>תרגום 3 עברית: <input [(ngModel)]="currentLexeme.translation3He">
    <br>תרגום 3 אנגלית: <input [(ngModel)]="currentLexeme.translation3En">
    <br>צורת רבים 1: <input [(ngModel)]="currentLexeme.plural1">
    <br>צורת רבים 2: <input [(ngModel)]="currentLexeme.plural2">
    <br>צורת ריבוי שבור: <input [(ngModel)]="currentLexeme.pluralBroken">
    <br>רבים דרבים: <input [(ngModel)]="currentLexeme.pluralOfPlural">
    <br>צורת מקור: <input [(ngModel)]="currentLexeme.sourceForm">
    <br>צורת נקבה: <input [(ngModel)]="currentLexeme.femaleForm">
    <br>צורת זוגי: <input [(ngModel)]="currentLexeme.doubleForm">
    <br>צורת יידוע: <input [(ngModel)]="currentLexeme.articleForm">
    <br>מקור ההגדרה: <input [(ngModel)]="currentLexeme.source">
  </div>
</div>
