<div>
  <br />

  חיפוש מילה:
  <input [(ngModel)]="searchTerm" />
  <button (click)="search()">חפש</button>

  <div *ngIf="afterSearch">
    <div *ngFor="let column of possibleColumns">
      <span>{{column.value}}: </span>
      <input [(ngModel)]="currentLexeme[column.key]" />
    </div>
  </div>

  <div>
    העלאת טבלה - העתק את הטבלה כטקסט לאזור העריכה ולאחר מכן שייך עמודות
    <br />

    <textarea width="600" [(ngModel)]="tableStr"></textarea>
    <br />

    <button (click)="matchColumns()">שיוך עמודות</button>
    <br />

    <div style="display: flex">
      <div *ngIf="topLine.length">
        שם עמודה:
        <div class="cell" *ngFor="let column of topLine; let i = index">
          {{ column ? column : '&nbsp;' }}
        </div>
      </div>
      <div *ngIf="secondLine.length">
        תוכן שורה ראשונה:
        <div class="cell" *ngFor="let column of secondLine; let i = index">
          {{ column ? column : '&nbsp;' }}
        </div>
      </div>
      <div *ngIf="secondLine.length">
        שיוך:
        <div class="cell" *ngFor="let column of topLine; let i = index">
          <select class="possibleColumn" [(ngModel)]="matchedColumns[i]">
            <option *ngFor="let possibleColumn of possibleColumns" [value]="possibleColumn.key">
              {{ possibleColumn.value }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <br />

    <button *ngIf="secondLine.length" (click)="upload()">העלאה</button>
  </div>
</div>
